* {
  margin: 0;
  padding: 0;
  font-family: "Robota", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/uzbekistonglavniy.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}
.logo {
  width: 70px;
  cursor: pointer;
  border-radius: 20px;
}
.nav {
  flex: 1;
  text-align: right;
}
.ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
.ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.boxh1 {
  display: block;
  color: #fff;
  text-align: center;
  /* margin-top: 10px; */
  font-size: 20px;
}
.box {
  top: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.boxul li {
  list-style: none;
  display: inline-block;
  margin-top: 20px;
}
.boxul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 20px;
  letter-spacing: -5pxpx;
}
.boxul li a:hover {
  background: rgb(13, 174, 237);
  color: #fff;
  border-radius: 20px;
}

.active {
  background: rgb(13, 174, 237);
  color: #fff;
  border-radius: 20px;
}
.secret {
  display: none;
}

.container-cart {
  margin: 50px auto;
  max-width: 1028px;
  /* margin-top: 50px;
  margin-left: 200px;
  max-width: 1220px;
  width: 95%; */
}
.image-list {
  display: grid;
  gap: 18px;
  font-size: 0;
  /* margin-bottom: 30px; */
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(4, 1fr);
}
.image-list .image-item {
  width: 1205px;
  height: 600px;
  object-fit: fill;
}
.dustlik {
  display: none;
}
.mashinasozlar {
  display: none;
}
.toshkent {
  display: none;
}
.oybek {
  display: none;
}
.kosmonavtlar {
  display: none;
}
.uzbekiston {
  display: none;
}
.alishernavoiy {
  display: none;
}
.gofurgulom {
  display: none;
}
.chorsu {
  display: none;
}
.tinchlik {
  display: none;
}
.beruniy {
  display: none;
}
